student{
display:block;

margin-top:50px;

border:2px solid red; 

}
main{

margin-left:50px;
width:280px
}

students{
margin-left:20px;
}
usn{
display:block;
}

name{
display:block;
}
year{
display:block;
}
branch{
display:block;
}

