student{
display:block;

margin-top:50px;
color:yellow;
border:1px solid red; 

}
main{
background-color:black;
margin-left:50px;
width:280px
}

students{
margin-left:20px;
}
usn{
display:block;
}

name{
display:block;
}
year{
display:block;
}
branch{
display:block;
}

